<h1>TinyApp</h1>
<% if(!session || !session.email || session.email === undefined) { %>
  <button style="border-radius:20px;margin-bottom:10px;"><a href="/register" style="text-decoration:none;cursor:pointer;color:purple;"/>Register</a></button><br>
  <button style="border-radius:20px;margin-bottom:10px;"><a href="/login" style="text-decoration:none;cursor:pointer;color:green;"/>Login</a></button>
<% } else { %>
  <form method="POST" action="/logout">
    <button type="submit" style="cursor:pointer;border-radius:20px;margin-bottom:10px;color:red;">Logout</button>
  </form>
 <% } %>