<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <div style="max-width:30%;margin-left:auto;margin-right:auto;text-align:center;">
      <header>
        <% include partials/_header %>
      </header><% if(!session || session && session.id === undefined) { %>
      <h3> Enter Email and Password to Login:</h3>
        <form method="POST" action="/login">
          <table>
          <tr>
            <td>
              email:
            </td>
            <td>
              <input type="email" value="" name="email" size="45px"/>
            </td>
          </tr>
          <tr>
            <td>
              password:
            </td>
            <td>
            <input type="password" value="" name="password" size="45px"/>
            </td>
          </tr>
          </table>
          <br>
          <br>
          <input type="submit" value="Login" style="border-radius:20px;margin-left:20px;color:green;">
          <button style="border-radius:20px;margin-left:20px;"><a href="/register" style="text-decoration:none;cursor:pointer;color:purple;"/>Register</a></button><br>
          </form>
      <% } else { %>
        <h2>You're logged in as <%= session.id %></h2>
        <form method="POST" action="/logout">
          <input type="submit" value="Logout">
        </form>
      <% } %>
    </div>
  </body>
</html>