<!-- urls_index.ejs: renders a page that displays the a short and long url -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
    <ul>
      <% for (let url in urls) { %>
      <li style="margin-bottom:20px;">
        <form method="POST" action="/urls/<%- url %>/delete">
          <%- url %>: <%- urls[url] %> 
          <button style="border-radius:20px;"><a href="#" style="text-decoration:none;color:black;">Shorten this Link</a></button>
          <input type="submit" value="Delete" style="border-radius:20px;cursor:pointer;"/>
        </form>
      </li>
      <% } %>
    </ul>
</body>
</html>