<!-- urls_index.ejs: renders a page that displays the a short and long url -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
    <ul>
      <% for (let url in urls) { %>
      <li><%- url %>: <%- urls[url] %> <a href="#">[Shorten this Link]</a></li>
      <% } %>
    </ul>
</body>
</html>