<!-- urls_new.ejs: renders a form used for submitting a new long url -->
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
  <div style="max-width:30%;margin-left:auto;margin-right:auto;text-align:center;">
      <% include partials/_header %>
      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>